<footer class="footer">
  <small>
    <a href="railstutorial.org">RoR tutorial</a>
  </small>
  <nav>
    <ul>
    <li><%= link_to "About", "#"%></li>
    <li><%= link_to "Contact", "#"%></li>
    <li><a href="news.railstutorial.org"></a></li>
    </ul>
  </nav>
</footer>